# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# Django
*.log
db.sqlite3
media/

# Static files
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Migration files 
# apps/*/migrations/*.py
# !apps/*/migrations/__init__.py